 .Navbar {
  padding-top: 1.3rem;
  padding-bottom: 5.2rem;
  border-radius: 0 0 1.5rem 1.5rem;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  @apply bg-primary fixed top-0 right-0 left-0;

  @media screen(laptop) {
    @apply static inset-auto p-0 transform-none rounded-none h-full bg-transparent;
  }

  &.isActive {
    transform: translateY(0);
  }

  &-container {
    margin-right: 6.3rem;
    @apply flex justify-between ml-12;
  }

  &-logo {
    width: 11rem;

    @screen laptop {
      @apply hidden;
    }
  }

  .socials {
    font-size: 2rem;
    margin-top: 0.9rem;
    @apply flex text-white gap-4;

    @screen laptop {
      @apply hidden;
    }
  }

  &-ul {
    margin-top: 1.6rem;
    font-size: 1.8rem;
    @apply font-light  font-rubik flex flex-col text-white;

    @media screen(laptop) {
       @apply flex flex-row m-0 font-light mx-auto  h-full items-center justify-end text-[#787878];
       font-size: calc(1.9rem * var(--scale));
       gap: calc(4rem * var(--scale));
       width: 76.5%;
       max-width: 150.2rem;

       .Navbar-li{
        &:hover{
          &::after{
            content: '';
            width: 3.5rem;
            height: 0.15rem;
            @apply absolute  bg-[#787878] top-[115%];
          }
        }

        &:last-child{
          &:hover::after{
            @apply  bg-transparent ;
          }
        }
      }
    }
 }


  &-li {
    border-top: 1px solid rgb(255 255 255 / 0.2);
    padding: 0.2rem 0;
    @apply px-12;

    &.isActive {
      @apply font-normal;
      @screen laptop{
        @apply font-light;
      }
    }

    @media screen(laptop) {
      transition: all 0.3s ease;
      @apply border-none p-0 relative isolate flex justify-center;

      &:hover,
      &.isActive {
        &::after{
          content: '';
          width: 3.5rem;
          height: 0.15rem;
          @apply absolute  bg-white top-[115%];
        }
      }
    }

    &:last-child {
      border-bottom: 1px solid rgb(255 255 255 / 0.2);

      @media screen(laptop) {
        margin-left: calc(3rem * var(--scale));
        @apply border-none text-[#787878];
      }

      &:hover,
      &.isActive {
        &::after{
          @apply  bg-transparent;
        }
      }

    }
  }

  &-a {
    @apply block cursor-pointer ;
  }

  &-contact {
    @apply font-normal;
    @media screen(laptop){
      transition: all ease-in 0.4s;
    @apply bg-primary font-roboto font-normal   text-[1.8rem] tracking-[0.05em] text-white rounded-[4rem] px-[3rem] py-[1rem];

    @media screen(laptop) {
      @apply font-rubik;
      padding: calc(1.25rem * var(--scale)) calc(3.5rem * var(--scale));
      font-size: calc(1.8rem * var(--scale));

      &.active{
        @apply bg-secondary  text-[#252525];
      }
    }

    &:hover {
      @apply bg-secondary text-[#252525];
    }
    }

    
  }

} 