.Form{
    @apply mt-[1.6rem];
    &-form{
        @apply flex flex-col gap-[2.2rem];
    }

    &-field{
        @apply flex flex-col gap-[1.4rem];
        label{
            @apply font-roboto font-normal  text-[1.5rem] leading-[73%] text-[#333333];
            letter-spacing: 0.01em;
        }

        input{
            @apply text-[#787878] italic h-[5.4rem] pl-[1.7rem] rounded-[.8rem];
        }
    
        &:nth-child(7){
            textarea{
                @apply text-[#787878] italic rounded-[0.8rem] pt-[1.7rem] pl-[1.7rem] h-[18.9rem];
            }
        }
    }


    @media screen(tablet){
        /* @apply w-[80%]; */
    }


    @media screen(laptop){
        margin-top: calc(6rem * var(--scale));
        &-form{
            @apply grid grid-cols-2;
            gap: calc(2.9rem * var(--scale));
        }
        &-field{
            @apply flex flex-col;
            gap: calc(1.6rem * var(--scale));
            label{          
                font-size: calc(1.7rem * var(--scale));
            }

            input{
                @apply rounded-none;
                height: calc(5.4rem * var(--scale));
                padding-left: calc(1.7rem * var(--scale));
            }
        
            &:nth-child(7){
                textarea{
                    @apply rounded-none;
                    height: calc(18.9rem * var(--scale));
                    padding-left: calc(1.7rem * var(--scale));
                    padding-top: calc(1.7rem * var(--scale));
                }
            }
        }

        &-send{
           @apply flex justify-center;
           margin-top: calc(3.4rem * var(--scale));
        }

    }
}

.Loader{
   @screen laptop{
    margin-left: calc(4.5rem * var(--scale));
    margin-top:  calc(1.5rem * var(--scale));
   }
}