.UploadForm {
  @media screen(laptop) {
    padding: calc(15rem * var(--scale)) calc(20rem * var(--scale));

    &-form {
      @apply bg-white rounded-[1rem] flex flex-col;
      gap: calc(2.5rem * var(--scale));
      filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
      /* height: calc(50rem * var(--scale)); */
      width: calc(40rem * var(--scale));
      padding: calc(5rem * var(--scale)) calc(2.5rem * var(--scale));
      padding-top: calc(7rem * var(--scale));
    }
    &-file{
      @apply font-dmsans font-medium rounded-[.5rem];
      font-size: calc(1.9rem * var(--scale));
      padding-bottom: calc(2rem * var(--scale));
    }

    &-textField {
      @apply font-rubik font-light rounded-[.5rem];
      border: 1px solid #e5e5e5;
      font-size: calc(1.9rem * var(--scale));
      padding-left: calc(1rem * var(--scale));
    }
    &-textField input {
      height: calc(4rem * var(--scale));
    }
    &-textarea {
      @apply font-rubik font-light;
      font-size: calc(1.9rem * var(--scale));
    }
    &-textarea textarea {
      @apply rounded-[1rem];
      padding-top: calc(1rem * var(--scale));
      padding-left: calc(1rem * var(--scale));
      border: 1px solid #e5e5e5;
      height: calc(15rem * var(--scale));
    }

    &-submit {
      transition: all ease-in 0.4s;
      @apply  font-rubik font-medium text-[1.5rem] tracking-[0.05em] text-white rounded-[4rem] px-[3rem] py-[1rem] cursor-pointer;
      background: #056CF2 !important;

      @media screen(laptop) {
        padding: calc(1.25rem * var(--scale)) calc(2.8rem * var(--scale));
        font-size: calc(1.8rem * var(--scale));
      }

      &:hover {
        background: #5FA4FF !important;
        @apply bg-secondary text-[#252525];
      }
    }
  }
}

.uploadBtn {
  @apply flex;
  gap: calc(1rem * var(--scale));
  .icon-more {
    @apply text-white bg-primary p-[1.5rem] rounded-full cursor-pointer;
  }
}
